body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 40px;
}
.container{
    background-color: rgba(30, 28, 28, 0.988);
    width: 320px;
    height: 580px;
    border-radius: 16px;
}
.numbers-container{
    background-color: 	#3e424f7e;
    display: flex;
    justify-content: center;
    gap: 18px;
    position: relative;
    padding: 19px;
    top: 174px;
    border-radius: 22px;
}
.col{
    display: flex;
    flex-direction: column;
    gap: 9px;
    
}
button{
    background-color:#181b1aa0;
    color: rgb(187, 185, 185);
    border: none;
    font-size: 18px;
    padding: 18px;
    font-weight: 400;
    border-radius: 14px;
    cursor: pointer;
}
.sum{
    color: white;
    position: relative;
    left: 270px;
    top: 140px;
    font-size: 42px;
}